@using TranSQL.client.Services
@using Microsoft.AspNetCore.Components.Authorization

@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

@* <h3>Bienvenido a la página principal</h3> *@

    <Login />

@code {
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isLoggedIn = user.Identity != null && user.Identity.IsAuthenticated;
    }
}